autopep8==1.6.0
baseblock==0.2.24
blis==0.7.11
catalogue==2.0.10
certifi==2025.11.12
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.4
click==8.1.8
colorama==0.4.6
confection==0.1.5
cryptography==38.0.1
cymem==2.0.11
distlib==0.4.0
en_core_web_sm @ file:///Users/craigtrim/git/graffl/fast-sentence-segment/resources/lib/en_core_web_sm-3.5.0.tar.gz
entrypoints==0.4
-e git+ssh://git@github.com/craigtrim/fast-sentence-segment.git@56872b6d37f22b7fd7c665317c26a9c511ced2b0#egg=fast_sentence_segment
filelock==3.16.1
flake8==4.0.1
flakeheaven==3.3.0
identify==2.6.1
idna==3.11
iniconfig==2.1.0
Jinja2==3.1.6
langcodes==3.4.1
language_data==1.4.0
marisa-trie==1.2.1
MarkupSafe==2.1.5
mccabe==0.6.1
murmurhash==1.0.12
mypy==1.14.1
mypy_extensions==1.1.0
nodeenv==1.10.0
numpy==1.24.4
packaging==25.0
pathlib_abc==0.1.1
pathy==0.11.0
plac==1.4.5
platformdirs==4.3.6
pluggy==1.5.0
pre-commit==2.21.0
preshed==3.0.9
pycodestyle==2.8.0
pycparser==2.23
pydantic==1.10.26
pyflakes==2.4.0
Pygments==2.19.2
pytest==8.3.5
PyYAML==6.0
requests==2.32.4
smart-open==6.4.0
spacy==3.5.3
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.8
thinc==8.1.12
toml==0.10.2
tomli==2.3.0
tqdm==4.67.1
typer==0.7.0
typing_extensions==4.13.2
unicodedata2==17.0.0
urllib3==2.2.3
virtualenv==20.35.4
wasabi==1.1.3
