autopep8==1.6.0
baseblock==0.2.24
blis==0.7.10
catalogue==2.0.9
certifi==2023.7.22
cffi==1.15.1
cfgv==3.3.1
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
confection==0.1.0
cryptography==38.0.1
cymem==2.0.7
distlib==0.3.7
en-core-web-sm @ file:///D:/git/graffl/fast-sentence/fast-sentence-segment/resources/lib/en_core_web_sm-3.5.0.tar.gz
entrypoints==0.4
exceptiongroup==1.1.2
-e git+ssh://git@github.com/craigtrim/fast-sentence-segment.git@f608ba8c2a84b57fb968541e5fb6defca5054a21#egg=fast_sentence_segment
filelock==3.12.2
flake8==4.0.1
flakeheaven==3.3.0
identify==2.5.26
idna==3.4
iniconfig==2.0.0
Jinja2==3.1.2
langcodes==3.3.0
MarkupSafe==2.1.3
mccabe==0.6.1
murmurhash==1.0.9
mypy==1.4.1
mypy-extensions==1.0.0
nodeenv==1.8.0
numpy==1.24.4
packaging==23.1
pathy==0.10.2
plac==1.3.5
platformdirs==3.9.1
pluggy==1.2.0
pre-commit==2.21.0
preshed==3.0.8
pycodestyle==2.8.0
pycparser==2.21
pydantic==1.10.12
pyflakes==2.4.0
Pygments==2.15.1
pytest==7.4.0
PyYAML==6.0
requests==2.31.0
smart-open==6.3.0
spacy==3.5.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
srsly==2.4.7
thinc==8.1.10
toml==0.10.2
tomli==2.0.1
tqdm==4.65.0
typer==0.7.0
typing_extensions==4.7.1
unicodedata2==15.0.0
urllib3==2.0.4
virtualenv==20.24.2
wasabi==1.1.2
